In [1]:
import re
import pandas as pd

pd.set_option("max_columns", 10)

df = pd.read_csv('session_electric_used.csv', index_col=0)
df.dropna(thresh=4, inplace=True)
df.columns

Index(['url', 'price', 'Oferta', 'Kategoria', 'Marka', 'Model', 'Rok',
       'Przebieg', 'Rodzaj', 'Moc', 'Skrzynia', 'Napęd', 'Typ', 'Liczba',
       'Kolor', 'Możliwość', 'Faktura', 'Kraj', 'Pierwsza', 'Numer',
       'Zarejestrowany', 'Pierwszy', 'Bezwypadkowy', 'Stan', 'Wersja',
       'Serwisowany', 'VAT', 'Kierownica', 'Leasing', 'distance', 'Uszkodzony',
       'Generacja', 'Emisja', 'Okres', 'lub', 'Gwarancja', 'Homologacja',
       'Opłata', 'Miesięczna', 'Wartość', 'Filtr', 'Tuning', 'Spalanie'],
      dtype='object')

In [2]:
df['Kraj'].describe()

count        383
unique        16
top       Polska
freq         275
Name: Kraj, dtype: object

In [3]:
df['Kolor'].value_counts().head(10)

Biały        225
Czarny       101
Niebieski     98
Szary         81
Czerwony      41
Innykolor     41
Srebrny       32
Zielony       18
Żółty         13
Bordowy       13
Name: Kolor, dtype: int64

In [4]:
df['Skrzynia'].value_counts()

Automatyczna    687
Manualna          1
Name: Skrzynia, dtype: int64

In [5]:
view = ['Marka', 'Model', 'Rok', 'price', 'Przebieg', 'Rodzaj', 'Typ', 'Kolor', 'Stan', 'url', 'distance']
df[df['Skrzynia'] == 'Manualna'][view]

,Marka,Model,Rok,price,Przebieg,...,Typ,Kolor,Stan,url,distance
11,Inny,Inny,2010.0,36900,44400km,...,Autamiejskie,Biały,Używane,https://www.otomoto.pl/oferta/germany-e-cars-s...,['- Zasięg na jednym ładowaniu: 100-120 km']

In [6]:
def get_number(string):
    return re.findall(r'\d+', string)[0]

In [7]:
df['price'] = df['price'].apply(lambda x: get_number(x)).astype('int')
df['price'].dtype

dtype('int32')

In [8]:
df['Rok'] = df['Rok'].astype('int')
df['Rok'].value_counts().head(5)

2021    189
2020    174
2018     71
2019     61
2016     52
Name: Rok, dtype: int64

In [9]:
df['Marka'].value_counts().head(10)

BMW              96
Tesla            80
Nissan           62
Renault          60
Mercedes-Benz    49
Kia              40
Citroën          34
Hyundai          26
Smart            25
Audi             24
Name: Marka, dtype: int64

In [10]:
df['Model'].value_counts().head(5)

i3        75
Leaf      62
Zoe       54
ModelS    39
Model3    25
Name: Model, dtype: int64

In [11]:
df[df['Marka'] == 'BMW']['Model'].value_counts()

i3      75
iX3     10
iX       9
X3       1
Inny     1
Name: Model, dtype: int64

In [12]:
df[df['Marka'] == 'Tesla']['Model'].value_counts()

ModelS    39
Model3    25
ModelX    14
Y          2
Name: Model, dtype: int64

In [13]:
df[df['Marka'] == 'Mercedes-Benz']['Model'].value_counts()

EQV       24
EQC       12
Vito       7
EQS        3
KlasaV     2
Inny       1
Name: Model, dtype: int64

In [14]:
df['Typ'].value_counts().head(10)

Autamiejskie    205
SUV             138
Kompakt         103
Autamałe         94
Sedan            89
Minivan          40
Coupe             9
Kombi             8
Kabriolet         3
Name: Typ, dtype: int64

In [15]:
df['Moc'] = df['Moc'].fillna('0').apply(lambda x: x.rstrip('KM'))

In [16]:
df['Moc'].sort_values(ascending=False).head(3)

648    92
368    92
604    92
Name: Moc, dtype: object

In [17]:
df['Moc'].value_counts().head(10)

204    81
136    72
170    48
109    35
88     25
150    23
184    23
82     22
118    20
145    18
Name: Moc, dtype: int64

In [18]:
df[df['Moc'] == '204KM']['Model'].value_counts().head(10)

Series([], Name: Model, dtype: int64)

In [19]:
df[df['Moc'] == '136KM']['Model'].value_counts().head(10)

Series([], Name: Model, dtype: int64)

In [20]:
df['Uszkodzony'].value_counts().head(10)

Tak    52
Name: Uszkodzony, dtype: int64

In [21]:
df['Leasing'].value_counts().head(10)

Tak    237
Name: Leasing, dtype: int64

In [22]:
df['Oferta'].value_counts().head(10)

Firmy             512
Osobyprywatnej    177
Name: Oferta, dtype: int64

In [23]:
df['Stan'].value_counts().head(10)

Używane    630
Nowe        59
Name: Stan, dtype: int64

In [24]:
df['distance'].fillna(0, inplace=True)
df[df['distance'] != 0][view]

,Marka,Model,Rok,price,Przebieg,...,Typ,Kolor,Stan,url,distance
8,Hyundai,Kona,2021,165000,8205km,...,SUV,Biały,Używane,https://www.otomoto.pl/oferta/hyundai-kona-hyu...,"['pompa ciepła, radio, ABS, wspomaganie, skóry..."
9,Tesla,Model3,2020,114900,26691km,...,Sedan,Biały,Używane,https://www.otomoto.pl/oferta/tesla-model-3-st...,"['rzeczywisty zasięg ok. 400 km, zimą do 30% m..."
11,Inny,Inny,2010,36900,44400km,...,Autamiejskie,Biały,Używane,https://www.otomoto.pl/oferta/germany-e-cars-s...,['- Zasięg na jednym ładowaniu: 100-120 km']
16,Hyundai,Kona,2020,135900,19000km,...,SUV,Czerwony,Używane,https://www.otomoto.pl/oferta/hyundai-kona-ele...,['Zasięg do 480km']
26,Nissan,Leaf,2012,39360,109800km,...,Kompakt,Biały,Używane,https://www.otomoto.pl/oferta/nissan-leaf-niss...,[' Nissan LEAF pierwszej generacji. W 1...
...,...,...,...,...,...,...,...,...,...,...,...
660,Opel,Corsa,2020,111900,3681km,...,Autamiejskie,Innykolor,Używane,https://www.otomoto.pl/oferta/opel-corsa-corsa...,['Pojemność energetyczna akumulatorów 50 kWh –...
668,Nissan,Leaf,2021,149900,5655km,...,Autamiejskie,Niebieski,Używane,https://www.otomoto.pl/oferta/nissan-leaf-e-le...,['Tryb jazdy ECO (optymalizacja zużycia energi...
669,Fiat,500,2016,49900,66200km,...,Autamałe,Biały,Używane,https://www.otomoto.pl/oferta/fiat-500-fiat-50...,['Zasięg na jednym ładowaniu średnio 140km-170...
676,Mercedes-Benz,EQV,2021,364000,7500km,...,Minivan,Niebieski,Używane,https://www.otomoto.pl/oferta/mercedes-benz-eq...,['Zasięg (WLTP): 356km']
704,Opel,Mokka,2021,146900,12000km,...,SUV,Zielony,Używane,https://www.otomoto.pl/oferta/opel-mokka-opel-...,"['Zasięg wg WLTP: ', 'Zasięg: 318 – 324 km wg ..."

In [25]:
# ## Drop less popular columns
# df.dropna(axis='columns', thresh=600, inplace=True)
# df.columns